__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.venv/
venv/
ENV/
env/
.vscode/
.idea/
*.db
*.sqlite3
.DS_Store
data/raw/*.csv
data/processed/*.csv
data/cashflow.db
data/uploaded.db
reports/*.png
reports/*.csv
reports/*.db
saved_data_reports/
test_data/test_db.db
*.log
